{{ define "include/body.html" }}
<script type="text/javascript">
    $(function () {
        $("#posts").find('img').lazyload({
            placeholder: "/static/image/loading.gif",
            effect: "fadeIn"
        });
    });
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?fb09d0ffc94182e78c97ca42d6558d5b";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>
{{ end }}